<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  <title>Freeshelf</title>
</head>

<body class="sans-serif pv2 ph4">
  <header class="flex items-center justify-between bg-green white ph3">
    <div id="title">
      <h1 class="white">Freeshelf</h1>
    </div>
    <div id="account-menu">
      <a class="washed-blue" href="{% url 'auth_login' %}">Login</a> | <a class="washed-blue" href="{% url 'registration_register' %}">Register</a>
    </div>
  </header>
  <nav id="category-nav" class="flex items-center ba br4 pa2 ma4">
    <div>
      Books by category:
    </div>
    {% if all_categories %}
    <ul class="list ml1 pa0 flex flex-wrap">
      {% for category in all_categories %}
      <li class="mr2 pr2 bw1 br f7 hover-bg-light-green"><a href="{% url 'category-detail' pk=category.pk %}">{{ category }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
  <main>
    <section id="books">
      <h2>Bookshelf</h2>
      <div class="mv3">
        {% if all_books %}
      <ul>
        {% for book in all_books %}
        <li class="list p10 ba br4 pa3 ma4 grow dib">
          <div class="f4"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a><span class="f5">  By: {{ book.author }}</span></div>
            <p class="lh-copy">{{ book.description|truncatewords:20 }}</p>
            <div class="flex">
              <div class="mr2 pr2 bw1 br green">
                Favorited XX times
              </div>
              <div class="mr2 pr2 bw1 br">
                Added: {{ book.date }}
              </div>
              <div>
                Category: {{ book.category }}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% else %} 
        <p>There are no books in the library.</p>
    {% endif %}
    </section>
  </main>
</body>

</html>